<div class="container mb-5">
    <nav class="navbar navbar-dark bg-secondary mb-5 mt-5 justify-content-around">
        <div class="dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink"
               role="button" data-toggle="dropdown" aria-expanded="false">
                Import de fichiers
            </a>
            <ul class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdownMenuLink">
                <li>
                    <a class="hover text-light dropdown-item bg-secondary" href="{{ path('import_import') }}">Fichier
                        d'enregistrement
                    </a>
                </li>
                <li>
                    <a class="text-light dropdown-item bg-secondary" href="#">
                        Fichier de contexte
                    </a>
                </li>
                <li>
                    <a target="_blank" class="text-light dropdown-item bg-secondary"
                       href="https://www.ilovepdf.com/fr/jpg_en_pdf">Convertir en PDF
                    </a>
                </li>
            </ul>
        </div>
        <div class="trait"></div>
        <a class="text-light" href="{{ path('archive') }}">Archives</a>
    </nav>
</div>
