@import "variable.scss";

$primary: #e53d18;
$secondary: #2c2c2c;
$dark: #0f0f0f;
$light: #d2d2d2;

@import "~bootstrap/scss/bootstrap";

.dropdown-menu {
  position: center;
}

.trait {
  background-color: $light;
  height: $heighttrait;
  width: $widthtrait;
}

.sloganTitle {
  font-size: 24px;
}

a {
  text-decoration: none;
}

.hover:hover {
  text-decoration: none;
  filter: brightness(1.75);
  font-weight: bold;
}

.responsive-button {
  display: none;
}

@media screen and (max-width: 420px) {
  .sloganTitle {
    display: none;
  }
  .container-fluid {
    justify-content: center;
  }
  .tdTime {
    display: none;
  }
  .connected {
    display: none;
  }
  .responsive-button {
    display: flex;
  }
  .no-responsive-button {
    display: none;
  }
  .exit {
    margin-left: $responsive-space;
  }
  .responsive-connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $responsive-space * 2;
  }
  .btn-responsive {
    margin-top: $responsive-space;
  }
}
