@import "variable.scss";

$primary: #e53d18;
$secondary: #2c2c2c;
$dark: #0f0f0f;
$light: #d2d2d2;

@import "~bootstrap/scss/bootstrap";

.dropdown-menu {
  position: center;
}

.trait {
  background-color: $light;
  height: $heighttrait;
  width: $widthtrait;
}

.sloganTitle {
  font-size: 24px;
}

a {
  text-decoration: none;
}

.hover:hover {
  text-decoration: none;
  filter: brightness(1.75);
  font-weight: bold;
}

/* Page account grid des cards users */
.card-user {
  display: grid;
  grid-template-columns: 45% 45% 45%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.responsive-button {
  display: none;
}

@media screen and (max-width: 420px) {
  .sloganTitle {
    display: none;
  }
  .container-fluid {
    justify-content: center;
  }
  .tdTime {
    display: none;
  }
  .connected {
    display: none;
  }
  .card-user {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  .responsive-button {
    display: flex;
  }
  .no-responsive-button {
    display: none;
  }
}
