@import "app.scss";

.graph {
  width: 100%;
  height: $height-graph;
}
@media screen and (max-width: 420px) {
  .filters {
    display: flex;
    flex-direction: column;
  }
  .timeEnd {
    display: flex;
    flex-direction: column;
  }
  .chart-container {
    position: relative;
    width: 100vw;
    height: 100vw;
  }
}