@import "app.scss";

.graph {
  width: $width-graph;
  height: $height-graph;
}
.filterBorder, .condition {
  border-radius: $border-radius;
  box-shadow: ($border-radius * 2) $border-radius $border-radius $light;
}

@media screen and (max-width: $mediaScreenMax) {
  .filters {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .chart-container {
    position: relative;
    width: $sizeChartContainerMedia;
    height: $sizeChartContainerMedia;
  }
  .filterBorder {
    margin-top: $responsive-space;
    width: $sizeFilterResponsive;
  }
}