{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Modifier utilisateur{% endblock %}

{% block body %}
    <div class="container justify-content-center">
        <h2 class="text-center py-5 font-weight-bold">Modification du compte de {{ user.firstname }} {{ user.lastname }}</h2>
    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
{% endblock %}
